.hero {
    background-image: url("../../../assets/images/svg/bg-gradient.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.hero__link {
    padding: 12px 8px;
    display: flex;
    justify-content: center;
}

.hero__text-box {
    height: 100%
}

.hero__text-box--mobile {
    text-align: center;
    align-items: center;
}

.hero__text {
    padding: 0 8px;
}

.hero .hero__text--center {
    align-content: center;
}

.hero__icon-box {
    position: relative;
}

.hero__icon-1 {
    position: absolute;
    top: 0;
    left: 30px;
}

.hero__icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
}

.hero__icon-3 {
    position: absolute;
    top: 0;
    left: 40px;
}
