.btn-component {
    position: relative;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 8px;
    border-radius: 8px;
    border-width: 0px;
    border-style: solid;
}

.fixed-button-width {
    width: 100%; /* Đặt kích thước cố định cho nút Button */
    max-width: 100%; /* Đảm bảo nút Button không vượt quá kích thước của container cha */
}

.btn-component--py-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.btn-component:hover {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
}

.btn-component:hover span {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
}

.btn-component .text-dark-red {
    color: #78350F;
    border-color: #78350F;
}

.btn-component .text-dark-red:hover {
    color: rgba(120, 53, 15, 0.5);
    border-color: rgba(120, 53, 15, 0.5);
}

.btn-component:hover .text-dark-red {
    color: rgba(120, 53, 15, 0.5);
    border-color: rgba(120, 53, 15, 0.5);
}

.btn-dark-red {
    color: #78350F;
    border-color: #78350F;
}

.btn-dark-red:hover {
    color: rgba(120, 53, 15, 0.5);
    border-color: rgba(120, 53, 15, 0.5);
}

.btn-dark-red:hover svg {
    color: rgba(120, 53, 15, 0.5);
    border-color: rgba(120, 53, 15, 0.5);
}

.btn-white {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-white:hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.btn-component:hover .text-white {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.btn-outline {
    padding: 12px;
    border-width: 2px;
}

.p-16 {
    padding: 16px;
}

.px-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.px-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.py-24 {
    padding-left: 24px;
    padding-right: 24px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.mr-8 {
    margin-right: 8px;
}

.active {
    box-shadow: 0px 4px 6px -1px #0000001A;
    background: #FFFFFF;
}

.flex-start {
    justify-content: flex-start;
}

