.feedback-card {
    box-shadow: 0 10px 15px -3px #0000001A;
    padding: 32px;
}

.feedback-card__header {
    padding: 16px 0;
}

.feedback-card__body {
    margin-top: 16px;
}


.feedback-card__footer {
    margin-top: 16px;
    padding: 16px 0 0 0;
}

.feedback-card__button {
    padding: 12px 8px 12px 0;
}

.feedback-card .ant-card-body {
    padding: 0;
    height: 100%;
}

.feedback-card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 82%;
}
