.footer {
    padding: 0 80px;
}

.footer--mobile {
    padding: 0 16px;
}

.footer .ant-list-header,
.footer .ant-list-item {
    border-width: 0;
}


.footer__table {
    padding: 48px 0;
    border-width: 1px 0;
    border-style: solid;
    border-color: #334155;
}

.footer__table--mobile {
    text-align: center;
}


.footer__subtitle {
    font-weight: 500;
}


.footer__item {
    border-width: 0;
}

.footer__button {
    padding: 0;
}

.footer__copyright {
    padding: 24px 0;
}

.footer__copyright--mobile {
    padding: 48px 0;
    text-align: center;
    justify-content: center;
}

.footer--mobile .ant-list-item {
    justify-content: center;
}

.footer__copyright-text {
    align-content: center;
}

.footer .footer__link {
    padding: 12px 0;
    display: flex;
    justify-content: center;
    color: #E2E8F0;
}

.footer .footer__link--p-0 {
    padding: 0;
}
