.feedback {
    padding-left: 0;
    padding-right: 0;
}

.rounded {
    border-radius: 100px;
    border-width: 2px;
    padding: 12px;
    border-color: var(--dark-red);
}

.feedback .feedback__slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
}

.feedback__bg-slider {
    position: absolute;
    background: var(--feedback-bg);
    top: -10%;
    width: 95%;
    height: 100%;
}

.feedback__text--mobile {
    text-align: center;
}
