@import '../../../assets/styles/variable';

.feedback {
  padding-left: 0;
  padding-right: 0;

  &__slider {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
  }

  &__bg-slider {
    position: absolute;
    background: $feedback-bg;
    top: -10%;
    width: 95%;
    height: 100%;
  }

  &__text--mobile {
    text-align: center;
  }

}

.rounded {
  border-radius: 100px;
  border-width: 2px;
  padding: 12px;
  border-color: $dark-red;
}
