@import "variable.css";

.header-bar {
    background: transparent;
    border: 0;
}

.content {
    margin: 24px 16px;
    padding: 20px;
}

.trigger-btn {
    font-size: 16px;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.container {
    padding: 80px;
    overflow-x: hidden;
}

.container--mobile {
    padding: 48px 16px;
}

.link:hover {
    color: var(--dark-red-hover) !important;
    border-color: var(--dark-red-hover);
}

.link-span:hover span {
    color: var(--dark-red-hover) !important;
}

/* Sider */

.sider {
    height: 100vh;
    position: sticky !important;
    left: 0;
    bottom: 0;
    top: 0;
}

/* Colors */
.app-header .dark-red {
    color: var(--dark-red);
}

.bg-transparent {
    background: transparent;
}

.bg-dark-red {
    background: var(--dark-red);
    overflow-x: hidden;
}

/* Font weight */
.font-weight-4 {
    font-weight: 400;
}

.font-weight-5 {
    font-weight: 500 !important;
}

/* Font size */
.text-16 {
    font-size: 16px;
}

.text-18 {
    font-size: 18px;
}

.h6 {
    font-size: 24px;
    font-weight: 700;
}

/* Margin */
.mt-4 {
    margin-top: 4px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}


.mt-48 {
    margin-top: 48px;
}

.mt-80 {
    margin-top: 80px;
}

.ml-8 {
    margin-left: 8px;
}

.ml-16 {
    margin-left: 16px;
}

.mr-24 {
    margin-right: 24px;
}

.mb-24 {
    margin-bottom: 24px;
}


/* Padding */
.pt-80 {
    padding-top: 80px;
}

.pt-48 {
    padding-top: 48px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pb-128 {
    padding-bottom: 128px;
}


.px-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.px-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.px-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.py-0 {
    padding-left: 0;
    padding-right: 0;
}

.py-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.pr-16 {
    padding-right: 16px;
}


/* Button */

.border-dark-red {
    border-color: var(--dark-red);
}

/* Index */
.hero-picture {
    width: 367px;
    height: 372px;
    border-radius: 50px;
    background: var(--golden);
}

.sub-title {
    font-weight: 500;
    font-size: 20px;
}

/* Colors */
.text-dark-red {
    color: var(--dark-red);
}

.text-light-grey {
    color: var(--light-grey);
}

.text-white {
    color: var(--white);
}

/* Background Colors */

.bg-dark {
    background: var(--dark);
}

.bg-white {
    background: var(--white);
}
