:root {
    --app-bg: #FFFBEB;
    --dark-red: #78350F;
    --light-grey: #E2E8F0;
    --white: #FFFFFF;
    --golden: #FBBF24;
    --dark: #0F172A;
    --border-color: #334155;
    --event-bg: #FEF3C7;
    --feedback-bg: #FDE68A;
    --dark-red-hover: rgba(120, 53, 15, 0.5);
    --black-hover: rgba(0, 0, 0, 0.5);
    --white-hover: rgba(255, 255, 255, 0.5);
}
