.registration--mobile {
    padding: 16px 16px 56px 16px;
}

.registration__text-box--mobile {
    text-align: center;
    align-items: center;
}

.px-160 {
    padding-top: 160px;
    padding-bottom: 160px;
}

.box {
    background: #FFFFFF;
    padding: 80px;
    border-radius: 30px;
    box-shadow: 0 20px 25px -5px #0000001A;
}

.box--mobile {
    padding: 32px 16px;
}

.image {
    position: relative;
    border-width: 5px;
    border-radius: 20px;
    border-color: #FFFFFF;
    width: 100%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.mb-24 {
    margin-bottom: 24px;
}

.ml-8 {
    margin-left: 8px;
}

.registration__video-box {
    position: relative;
}

.bg-deco-video {
    position: absolute;
    background-image: url("../../../assets/images/deco-video.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 180%;
    transform: translate(-50%, -50%);
}
