.link-component {
    position: relative;
    align-content: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 8px;
}

.link-component:hover {
    color: var(--black-hover);
    border-color: var(--black-hover);
}

.link-component .text-dark-red {
    color: var(--dark-red);
    border-color: var(--dark-red);
}


.link-component:hover .text-dark-red {
    color: var(--dark-red-hover);
    border-color: var(--dark-red-hover);
}

.link-dark-red {
    color: var(--dark-red);
}

.link-dark-red:hover,
.link-dark-red:hover svg,
.link-dark-red:hover span {
    color: var(--dark-red-hover);
}

.link-white {
    color: var(--white);
}

.link-white:hover {
    color: var(--white);
}

